.container_menu-title{
  color: white;
}

.container_menu-title > h1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 135px;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: center;
}

.container_menu-title > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
